* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* background-color: #000;
  color: #FFF; */
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
}

.container .column {
  width: 25%;
  height: 100%;
  float: left;
  border-right: 2px solid rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.container .column:last-child {
  border-right: none;
}

.container .column .content {
  position: relative;
  height: 100%;
}

.container .column .content h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.2);
  font-size: 15em;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.container .column .content .box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  transition: .5s;
  opacity: 0;
}

.container .column.active .content .box{
  opacity: 1;
}
.container .column .content .box h2 {
  margin: 0;
  padding: 0;
  color: #262626;
  font-size: 30px;
}
.container .column .content .box p {
  color: #262626;
  font-size: 18px;
}
.container .column.active .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}
.container .column.active .bg.bg1 {
  background: url('../img/1.jpg');
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  transition: .5s;
}
.container .column.active .bg.bg2 {
  background: url('../img/2.jpg');
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  transition: .5s;

}.container .column.active .bg.bg3 {
  background: url('../img/3.jpg');
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  transition: .5s;

}.container .column.active .bg.bg4 {
  background: url('../img/4.jpg');
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  transition: .5s;
}
